<div class="container-fluid footer">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3" style="margin-top:10px">
                    <div class="col-xs-3 text-center">
                        <p>TERMS OF USE</p>
                    </div>
                    <div class="col-xs-3 text-center">
                        <p>TRADEMARKS</p>
                    </div>
                    <div class="col-xs-3 text-center">
                        <p>PRIVACY</p>
                    </div>
                    <div class="col-xs-3 text-center">
                        <p>COOKIES</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <p class="copyright">&copy; 2017 Company1 Corporation or its affiliates. All rights reserved. Company1 Technologies, Inc.
is the seller of record and license in the Americas of Company1 products.</p>
                </div>
            </div>
        </div>
    </div>
</div>
