<div class="row">
    <div class="col-xs-12">
        <div style="padding : 30px"></div>
        <h2>SIGN IN</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="login-block">
            <form action="#" class="box-shadow:none">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email ID" class="form-control no-glow">
                </div>
                <!-- <div class="form-group input-group">
                <input type="password" class="form-control no-glow" placeholder="Password">
                <div class="input-group-btn">
                <div class="btn btn-default password-btn" type="submit">
                <i class="glyphicon glyphicon-eye-open" style="color:#848381;cursor: pointer; pointer-events: all"></i>
            </div>
        </div>
    </div> -->
    <div ng-if="!showPassword" class="form-group has-feedback">
        <input type="password" ng-model="params.password" class="form-control no-glow" placeholder="Password">
        <span ng-if="params.password" ng-click="toggleShowPassword()" class="glyphicon glyphicon-eye-open form-control-feedback"
    style="color:#848381;cursor: pointer; pointer-events: all;">
</span>
</div>

<!-- show password as type="text" -->
<div ng-if="showPassword"
class="form-group has-feedback">
<input type="text"
ng-model="params.password"
class="form-control"
placeholder="type something here...">
<span ng-if="params.password"
ng-click="toggleShowPassword()"
class="glyphicon glyphicon-eye-close form-control-feedback"
style="cursor: pointer; pointer-events: all;">
</span>
</div>
<div class="form-group">
    <input type="submit" value="LOGIN" class="btn btn-success form-control submit-btn">
</div>
<div class="form-group">
    <p class="forgot"><a (click)="goForgot()">Forgot Password?</a></p>
</div>
</form>
</div>
</div>
</div>
<div class="row">
    <div class="col-xs-12 new">
        <p>New to MyWishCompany?</p>
        <div class="col-xs-10 col-xs-offset-1">
            <button class="btn form-control register-btn" (click)="goRegister()">REGISTER</button>
        </div>
    </div>
</div>

<div class="help">
    <p><i class="glyphicon glyphicon-question-sign"></i> Help</p>
</div>
