<div class="row">
    <div class="col-xs-12">
        <div class="head">
            <p class="heading"><strong>FORGOT PASSWORD</strong></p>
            <p class="sub-heading">Enter your registered email address</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="login-block">
            <form action="#" class="box-shadow:none">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Your Email Address" class="form-control no-glow">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> <p class="check">By clicking Send Request,you agree to Terms & Conditions,including our Cookie use.</p></label>
                </div>
                <div class="form-group">
                    <input type="submit" value="SEND REQUEST" class="btn btn-success form-control submit-btn">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 new">
        <p>New to MyWishCompany?</p>
        <div class="col-xs-10 col-xs-offset-1">
            <button class="btn form-control register-btn" (click)="goRegister()">REGISTER</button>
        </div>
    </div>
</div>

<div class="help">
    <p><i class="glyphicon glyphicon-question-sign"></i> Help</p>
</div>
