.head {
    padding: 30px;
    text-align: center;
    color : #149FCD;
    font-family: 'Lato', sans-serif
}

.heading {
    font-size: 28px
}

.sub-heading {
    font-size: 16px;
    font-weight:lighter;
}

.login-block {
    /*border: 1px solid #E0E0E0;*/
    box-shadow: 0px 0px 2px #E0E0E0;
    border-radius: 10px;
    background : #fff;
    padding : 40px;
}

.submit-btn {
    border-radius: 0px;
    background : #149FCD;
    border: none
}

.no-glow {
    border-radius: 1px;
    box-shadow: none
}

.password-btn {
    border-left:none;
    border-radius:1px
}

.forgot {
    text-align: center;
}

.forgot a {
    color:#149FCD;
}

.new {
    margin-top :50px;
    text-align: center;
}

.new p a{
    color:#149FCD;
}

.login-btn {
    color:#149FCD;
    box-shadow:0px 2px 5px #E0E0E0;
}

.check {
    font-size:10px;
    font-family: 'Lato', sans-serif
}

.help{
    color: #00AFD7;
    font-family: 'Lato', sans-serif;
    font-size:16px
}

.help {
    position : fixed;
    bottom: 10px;
    right: 20px
}
