<div class="row">
    <div class="col-xs-12">
        <div class="head">
            <p class="heading">CREATE AN ACCOUNT</p>
            <p class="sub-heading">Join the network of MyWishCompany</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="login-block">
            <form action="#" class="box-shadow:none">
                <div class="form-group">
                    <input type="text" name="f_name" placeholder="First Name" class="form-control no-glow">
                </div>
                <div class="form-group">
                    <input type="text" name="l_name" placeholder="Last Name" class="form-control no-glow">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email Address" class="form-control no-glow">
                </div>
                <div class="form-group">
                    <input type="email" name="c_email" placeholder="Confirm Email Address" class="form-control no-glow">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control no-glow">
                </div>
                <div class="form-group">
                    <input type="password" name="c_password" placeholder="Confirm Password" class="form-control no-glow">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> <p class="check">By clicking register, you agree to the Client Terms & Conditions
and the Support and Professional Services Agreement for any
product support or professional services you purchase.</p></label>
                </div>
                <div class="form-group">
                    <input type="submit" value="REGISTER" class="btn btn-success form-control submit-btn">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 new">
        <p><a href="#">Already Joined MyWishCompany?</a></p>
        <div class="col-xs-10 col-xs-offset-1">
            <button class="btn form-control login-btn" (click)="goLogin()">LOGIN</button>
        </div>
    </div>
</div>

<div class="help">
    <p><i class="glyphicon glyphicon-question-sign"></i> Help</p>
</div>
